@font-face {
    font-family: "PublicSans";
    src:
        local("PublicSans-Thin.ttf"),
        url("/src/assets/fonts/PublicSans-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "PublicSans";
    src:
        local("PublicSans-ExtraLight.ttf"),
        url("/src/assets/fonts/PublicSans-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "PublicSans";
    src:
        local("PublicSans-Light.ttf"),
        url("/src/assets/fonts/PublicSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "PublicSans";
    src:
        local("PublicSans-Regular.ttf"),
        url("/src/assets/fonts/PublicSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PublicSans";
    src:
        local("PublicSans-Medium.ttf"),
        url("/src/assets/fonts/PublicSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "PublicSans";
    src:
        local("PublicSans-SemiBold.ttf"),
        url("/src/assets/fonts/PublicSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "PublicSans";
    src:
        local("PublicSans-Bold.ttf"),
        url("/src/assets/fonts/PublicSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "PublicSans";
    src:
        local("PublicSans-ExtraBold.ttf"),
        url("/src/assets/fonts/PublicSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "PublicSans";
    src:
        local("PublicSans-Black.ttf"),
        url("/src/assets/fonts/PublicSans-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}