/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    @apply bg-zinc-50 dark:bg-zinc-800 rounded-[1vh];
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-zinc-200 dark:bg-zinc-700 rounded-full;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-300 dark:bg-zinc-600;
}